html {
  font-family: sans-serif;
}

.container{
  background: teal;
  color: white;
  margin: auto;
  height: 400px;
  width: 960px;
}
.container::before{
  content: "I'm 960 px!"
}

/* media query */
@media all and (max-width: 500px) {
  .container{
    width: 400px;
  }

  .container::before{
    content: "Now I'm 400 px!"
  }
}
