html {
  font-family: sans-serif;
  font-size: medium;
}

div {
  margin: 40px 0;
}

.parent {
  font-size: larger;
}

.child-1 {
  /*nothing*/
}

.child-2 {
  font-size: larger;
}

.child-3 {
  font-size: medium;
}
